{% extends "./base.html" %}
{% load static %}
{% block title %}Employee Info | HRM{%endblock%}
{% block content %}
<link rel="stylesheet" href="{% static "css/emp/normalize.min.css" %}">
<link rel="stylesheet" href="{% static "css/emp/style.css" %}">
<script type="text/javascript" src="{% static "js/emp/geodata-jsr-class.js" %}"></script>
<script>
  $(document).ready(function(){
    loadRoleTeam();
  })
</script>
<h2>Employee Information Form</h2><br>
<!-- partial:index.partial.html -->
<div class="container">

  <div class="row">
    <div class="col">
      
        <span class="input__label-content">First Name</span>
      <br>
      <span class="input">
        <input type="text" class="input__field" id="fname" />

      </span>
    </div>

    <div class="col">
      
        <span class="input__label-content">Last Name</span>
      <br>
      <span class="input">
        <input type="text" class="input__field" id="lname" />
      </span>
    </div>

  </div><br>

  <div class="row">
    <div class="col">
      
        <span class="input__label-content">House No.</span>
      <br>
      <span class="input">
        <input type="text" class="input__field" id="house_number" />
      </span>
    </div>

    <div class="col">
      
        <span class="input__label-content">Street</span>
      <br>
      <span class="input">
        <input type="text" class="input__field" id="street" />
      </span>
    </div>

  </div><br>
  <div class="row">

    <div class="col">
      <span class="input">
                  <span class="input__label-content">Continent:</span>
        
        <br><select for="input-5" name="continent" id="continent" onchange="getplaces(this.value,'country');">
          <option value=""></option>
        </select>
      </span>
    </div><br><br>


    <div class="col">
      <span class="input">
                <span class="input__label-content">Country:</span>
        
                <br><select name="country" id="country" onchange="getplaces(this.value,'province');">
          <option value=""></option>
        </select>
      </span>
    </div>

  </div><br><br>

  <div class="row">

    <div class="col">
      <span class="input">
                 <span class="input__label-content">State / Province:</span>
        
                 <br><select name="province" id="province" onchange="getplaces(this.value,'region')">
          <option value=""></option>
        </select>
      </span>
    </div>

    <div class="col">
      <span class="input">
               <span class="input__label-content">County / Region:</span>
        
               <br><select name="region" id="region" onchange="getplaces(this.value,'city')">
          <option value=""></option>
        </select>
      </span>
    </div>
  </div><br><br>

  <div class="row">

    <div class="col">
      <span class="input">
               <span class="input__label-content">City:</span>
        
               <br><select name="city" id="city">
          <option value=""></option>
        </select>
      </span>
    </div>

    <div class="col">
      
        <span class="input__label-content">Postal / ZIP Code</span>
      
      <span class="input">
        <br><input type="text" class="input__field" id="pincode" />
      </span>
    </div>
  </div><br><br>

  <div class="row">
    <div class="col">
      
        <span class="input__label-content">Mobile</span>
      
      <span class="input">
        <br><input type="tel" class="input__field" id="phone_number" />
      </span>
    </div>

    <div class="col">
      
      <span class="input__label-content">Salary</span>
    
    <span class="input">
      <br><input type="number" class="input__field" id="salary" />
    </span>
  </div>
  </div><br>

  <div class="row">

    <div class="col">
      <span class="input">
        
          <span class="input__label-content">E-mail</span>
        
        <br><input type="email" class="input__field" id="useremail" />
      </span>
    </div>

    <div class="col">
        <span class="input__label-content">Date of birth</span>
      
      <span id="dobin" class="input">
        <br><input type="date" name="dob" id="dob">
        <option value=""></option>
        </select>
      </span>
    </div>

  </div><br>

  <div class="row">

    <div class="col">
      <span class="input">
             <span class="input__label-content">Role:</span>
        
             <br><div id='role'></div>
      </span>
    </div>

    <div class="col">
      <span class="input">
             <span class="input__label-content">Team:</span>
        
             <br><div id='team'></div>
      </span>
    </div>

  </div><br>

  <div class="row">
    <div class="col">
      <button id="send-button" type="button" onclick="addEmp();">Send</button>
    </div>
  </div>
</div>

<!-- partial -->
<script src="{% static "js/emp/jquery.min.js" %}"></script>
<script src="{% static "js/emp/script.js" %}"></script>

{% endblock %}