{% extends 'main/base.html' %}
{% block title %}Add Role | HRM{% endblock %}
{% block content %}
<br>
<div>
     <label for="teamname">Team Name:</label><br><input type="text" class="input__field" id='teamname'><br><br>
     <button class="btn btn-primary btn-rounded" type="button" onclick="saveTeam();">Save Team</button>

</div>
<br>
<div>
    <label for="rolename">Role:</label><br><input type="text" class="input__field" id='rolename'><br><br>
    <button class="btn btn-primary btn-rounded" onclick="getTeams();">Get teams</button><br><br><br>
    <div id='roleTeam'></div>
    <button type="button" class="btn btn-primary btn-rounded" onclick="saveRole();">Save Role</button>
</div>
{% endblock %}