{% extends 'main/base.html' %}
{% block title %}Leave Request | HRM{% endblock %}
{% block content %}
<div id="leaveRequest">
  <h3>Leave</h3>
  <br />
  <label for="leaveForm">From:</label><br><input type="date" class="input__field" id="leaveFrom" /><br><br>
  <label for="leaveTill">Till:</label><br><input type="date" class="input__field" id="leaveTill" /><br><br>
  <label for="leaveReason">Reason:</label><br> 
  <textarea class="input__field" id="leaveReason" rows="5" cols="30"></textarea><br><br>
  <button type="submit" class="btn btn-primary btn-rounded" onclick="leaveApplication();">
    Submit Leave Request
  </button>
</div>
{% endblock %}